@import "../../styles/reset.scss";
@import "../../styles/common.scss";

.mainBox {
  display: flex;
  position: absolute;
  top: 20px;
  left: 450px;
  padding: 0;

  &::-webkit-scrollbar-x {
    display: none;
  }

  .mainLeft {
    width: 480px;
  }
}
