@import "../../styles/reset.scss";
@import "../../styles/common.scss";
@import "../../styles/variables.scss";

.mainBox {
  display: flex;
  position: absolute;
  top: 20px;
  left: 450px;
  padding: 0;

  &::-webkit-scrollbar-x {
    display: none;
  }

  .mainLeft {
    width: 480px;
    header {
      display: flex;
      margin-bottom: 20px;
      gap: 15px;
      overflow: scroll;
    }
  }
}
