@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// @mixin flexSort($justify, $alignItems) {
//   display: flex;
//   justify-content: $justify;
//   align-items: $alignItems;
// }

// @include flexSort("center", "center");

.body {
  @include center;
}

a {
  color: black;
}

// i,
// img,
// button {
//   cursor: pointer;
// }

// input {
//   width: 180px;
//   height: 20px;
//   padding-left: 10px;
//   background-color: #fafafa;
//   border: none;
//   border-radius: 4px;
// }

// input::placeholder {
//   color: #bababa;
//   text-align: center;
// }

// input:focus {
//   outline: none;
// }

// .fa-regular.icon-mini {
//   font-size: 10px;
//   color: gray;
// }
