$lightBlue: #c5e1fa;
$blue: #5395e9;
$darkBlue: #1e4a77;

$lightGray: #bababa;

$bgColor: #fafafa;

$gradient: linear-gradient(#fff, #fff),
  linear-gradient(to right, red 0%, orange 100%);

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
