@import "../../styles/reset.scss";
@import "../../styles/common.scss";
@import "../../styles/variables.scss";

header {
  display: flex;
  margin-bottom: 20px;
  gap: 15px;
  overflow: scroll;

  img {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
  }

  div {
    width: 64px;
    height: 64px;
    border: 2px solid transparent;
    background-image: $gradient;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 50%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
