@import "../../styles/reset.scss";
@import "../../styles/common.scss";
@import "../../styles/variables.scss";

header {
  img {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
  }

  div {
    width: 64px;
    height: 64px;
    border: 2px solid transparent;
    background-image: $gradient;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 50%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

article {
  margin-bottom: 20px;
  border: none;
  border-radius: 2px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 15px;

  img {
    width: 480px;
    height: 480px;
    border-radius: 4px;
  }
}

.feeds-upside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  .feeds-upside-left {
    display: flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      border: 1px solid $lightGray;
      border-radius: 50%;
    }

    .feeds-nickname {
      margin-right: 10px;
      font-size: 16px;
      font-weight: 700;
    }

    .feeds-content-time {
      color: $lightGray;
      font-size: 14px;
    }
  }
}

.feeds-bottom {
  padding: 10px 10px 0 10px;
  font-size: 14px;

  .feeds-icon {
    display: flex;
    justify-content: space-between;

    .icon-chat {
      margin: 0 10px;
    }
  }

  .feeds-like {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 10px;

    span {
      font-weight: normal;
    }
  }
}

.feeds-comment-box {
  .feeds-old-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    width: 100%;

    div:first-child {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .feeds-old-comment-more {
      color: gray;
      font-size: 14px;
      font-weight: 400;
      margin-top: 10px;
    }

    .heart-icon-mini {
      width: 10px;
      height: 10px;
    }
  }

  .feeds-new-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.feeds-comment-input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 10px 10px 0;
  color: $lightGray;
  font-size: 14px;

  .feeds-comment-input {
    width: 90%;
    background-color: white;
    border: none;
    font-size: 14px;
    margin: 0;

    &::placeholder {
      color: gray;
      text-align: left;
    }
  }

  .feeds-comment-upload {
    width: 10%;
    color: $blue;
    background-color: transparent;
    border: none;
  }
}

input {
  width: 180px;
  height: 20px;
  padding-left: 10px;
  background-color: #fafafa;
  border: none;
  border-radius: 4px;

  &::placeholder {
    color: $lightGray;
    text-align: center;
  }

  &:focus {
    outline: none;
  }
}
